# Playwright for browser automation
playwright>=1.46.0

# pytest for running tests
pytest>=8.3.2

# pytest-playwright for integrating Playwright with pytest
pytest-playwright>=0.3.0

# pytest-html for generating HTML test reports
pytest-html>=4.1.1


